.single-tx {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    text-align: left;
    flex-direction: column;
}

.boring{
    color: #aaa;
}

.nft-thumbnail{
    width: 75px;
    height: 75px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.1), 0 0 0 1px rgba(0,0,0,0.1);
    background-color: rgb(250,250,250);
}